*{
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans Unicode';
}
body{
  background-image: url('./image/flower-2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

}
details{
  margin-left: 1rem;
  font-size: clamp(.8rem, 2.5vw, 1rem); 
}
#titel{
  font-size: clamp(1rem, 3vw + 1rem, 4.5rem);
  color: rgb(121, 44, 114);
  font-weight: bolder;
  text-shadow: 5px 2px rgb(141, 132, 132, .2);
  text-align: center;
  margin: 6rem 0 0 0;
}
form{
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 8px ;
  margin: 0 20px;
  box-shadow: 0 4px 6px rgb(0,0,0,.1);
}
.fild{
  display: block;
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: 14px;
}
.fild:focus{
  outline: none;
}
.btn-event{
  display: inline-block;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(121, 44, 114);
  padding: 5px;
  cursor: pointer;
}
.delete{
  float: right;
  margin-top: -3px;
}
#itemlist{
  background-color: white;
  box-shadow: 0 4px 6px rgb(0,0,0,.1);
  border-radius: 10px;
  margin: 20px 15px;
}
.eachitem{
  min-width: inherit;
  padding: 8px;
  margin: 0 auto;
}
.eachitemname{
  font-weight: bold;
}
.itmedone{
  text-decoration-line: line-through;
  color: rgb(66, 105, 50);
  font-weight: bolder;
}
@media (min-width: 40em) {
  body{
  background-image: url('./image/flower.webp');
    background-size: 100%;
  }
  details{
    margin-left: 14rem;
  }
  form{
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .fild{
    font-size: 20px;
  }
  #itemlist{
    margin: 0 auto;
    max-width: 300px;
    padding: 0 8px;
  }
  .delete{
    margin-top: -8px;
  }
}
@media (min-width: 64em) {
  form{
    max-width: 600px;
    padding: 1rem;
  }
  .fild{
    font-size: 25px;
  }
  .btn-event{
    font-size: 20px;
  }
  #itemlist{
    max-width: 600px;
    padding: 2px 1rem;
    font-size: 25px;
  }
  .delete{
    margin-top: -3px;
  }
  details{
    margin-left: 13rem;
  }
}
@media (min-width: 70em) {
  details{
    margin-left: 45rem;
  }
}